<div class="about-hero" id="about">

    <h2>A little more about me 🧑‍💻</h2>
    <p>I am a Systems Analysis and Development student, currently in the <br>4th semester, and I have a passion for
        software
        development. <br>
        <br>
        I am always looking to learn and improve my skills to become<br> a complete professional.

        I also have experience with developing <br> open-source and student projects, in addition to providing freelance
        projects. <br>
        <br>

        Currently, I am focused on improving my knowledge of Java and Spring Boot, <br> with the aim of becoming more
        proficient
        in developing Back-End systems.
    </p>
</div>

<div class="skills">
    <h3>Skills</h3>

    <p>Languages & Frameworks: Java/Spring Boot, JS/HTML/SCSS, TypeScript/Angular</p>
    <p>Databases: SQL Basic</p>
    <p>Cloud & DevOps: Azure Basic, AWS Basic, Scrum </p>
    <p>Development Tools: CI/CD, Source Control (Git)</p>
    <p>Security: JWT, Authorization/Authentication, OAuth</p>
    <p>Software Design: Loading..</p>

    <h3>Soft Skills</h3>
    
    <ul>
        <li>Communication</li>
        <li>Teamwork</li>
        <li>Emotional intelligence</li>
        <li>Agile methodologies</li>
        <li>Organization</li>
        <li>Proactivity</li>
        <li>Fast learning</li>
    </ul>
    
</div>