main {
    margin-left: 25%;
}

.profile {
    display: flex;
    margin-top: 5%;
}

.left-profile {
    width: 100px;
}

.rigth-profile {

    h3 {
        font-size: 20px;
        color: #3C4043;
    }

    span {
        color: #3C4043;
        font-size: 15px;
    }

    p {
        margin-top: -12px;
        font-size: 15px;
        color: #3C4043;
    }
}

.nav-home {
    ul {
        display: flex;
        gap: 30px;
    }

    li {
        list-style: none;
    }

    a {
        color: #3C4043;
    }
}

.home {
    margin-top: 40px;
    margin-left: 40px;

    h2 {
        font-size: 25px;
        color: #1e1e1f;
    }

    p {
        color: #3C4043;
        font-size: 17px;
        font-weight: 100;
    }

    .project-recent {
        width: 35%;
        height: 100px;
        border: 2px solid black;
        border-radius: 10px;
    }

    .link-projects {
        a {
            text-decoration: none;
            color: #1e1e1f;
        }

        margin-top: 30px;
        width: 17%;
        padding: 15px;
        background-color: none;
        border-radius: 5px;
        border: 2px solid #3C4043;
    }

    .link-projects:hover {
        border: 2px solid rgb(0, 4, 255);
        transition: 0.5s;

        a {
            color: rgb(0, 4, 255);
            transition: 0.5s;
        }
    }


}