<main>
    <div class="profile">
        <div class="left-profile">
            <img src="assets/image.svg" alt="teste">
        </div>

        <div class="rigth-profile">
            <h3>Cristian Andriel Silva</h3>
            <p>Full-Stack Developer | Java | Spring Boot | TypeScript | Angular</p>
        </div>
    </div>

    <nav class="nav-home">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About/Skills</a></li>
            <li><a href="">Projects</a></li>
            <li><a href="">Blog</a></li>
            <!-- Ícone do GitHub -->
            <a href="https://github.com/CristianAndriel" target="_blank">
                <i class="fab fa-github" style="font-size: 20px; color: #5e5e5e;"></i>
            </a>

            <!-- Ícone do LinkedIn -->
            <a href="https://www.linkedin.com/in/cristian-andriel/" target="_blank">
                <i class="fab fa-linkedin" style="font-size: 20px; color: #5e5e5e;"></i>
            </a>
        </ul>
    </nav>

    <div class="home">
        <h2>Hey there! 👋</h2>
        <p>
            Welcome to my space where I share insights and experiences from <br> my journey as a software engineer. Take
            your
            time to explore, and <br>let’s dive into the exciting world of software development! <br>
            <br>
            If you have any thoughts or feedback, I’d love to hear from you. <br> Feel free to reach out via my social
            media
            links or shoot me an <br> email.
        </p>

        <h3>See the project I'm currently working on</h3>
        <div class="project-recent">
            <img src="assets/project.jpg" alt="teste">
        </div>

        <div class="link-projects">
            <a href="">Access more of my projects here</a>
        </div>
    </div>

    <div class="social">

    </div>
</main>