* {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

i {
  color: #747474;
}

button{
  background-color: red;
  padding: 10px;
  margin-top: 20px;
}

/* Inicio */

.inicio {
  padding-top: 30px;
  margin-left: 100px;
}

.destaque h1, h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #747474;
}

.social-links ul {
  display: flex;
  gap: 15px;
  padding-top: 20px;
}